html {
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto 64px;
  grid-template-areas:
    "header"
    "main"
    "footer"
;
}

.current-header, #currentTemperature, #currentHumidity {
  text-align: center;
}

.nav-item #peaks-form {
  background-color:	#304550f3;
  margin-left: 16px;
  padding: 8px;
  border-radius: 8px;
}

.nav-item #peaks-form label {
  color: white;
}

#peaks-form {
  margin: auto;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#background {
  background-image: url('../img/frozen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: max-content;
  background-color:	#24343cf3;
  display: grid;
  user-select: none;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: min-content;
  grid-template-areas:
    "brand  leftlist  rightlist"
;
}

.navbar-brand {
  grid-area: brand;
  font-size: 64px;
  font-style: bold;
  color: white;
  text-decoration: none;
  text-align: middle;
  margin-left: 1rem;
}

.navbar-toggler {
  display: none;
}

header ul#leftlist, header ul#rightlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24343cf3;
  vertical-align: middle;
}

header ul#leftlist {
  grid-area: leftlist;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

header ul#rightlist {
  grid-area: rightlist;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

header ul li {
  vertical-align: middle;
  margin: auto 0px;
}

header ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 8px;
}

header ul li a:hover {
  background-color:	#115887;
}

#header-username {
  font-style: bold;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: auto;
}

main {
  grid-area: main;
  max-width: 800px;
  border: rgba(0, 0, 0, 0.479) solid 4px;
  border-radius: 16px;
  margin: 12px;
  margin-left: 160px;
  padding: 12px;
  background-color: rgba(224, 224, 224, 0.952); 
}

h1, h2, h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.center-header {
  text-align: center;
}

footer {
  box-sizing: border-box;
  grid-area: footer;
  background-color:	#115887f1;
  position: relative;
}

footer p {
  position: absolute;
  text-align: center;
  color:	#ffffffde;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alert {
  width: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-warning {
  background-color: #f0ad4e;
}

.alert-danger {
  background-color: #d84545;
}

.alert-danger ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.button-link, button.button-link, input.button-link {
  color: white;
  text-align: center;
  background-color:	#24343c;
  text-decoration: none;
  margin: 0 0.5rem 0 0;
  padding: 0.5rem;
  border-radius: 8px;
  user-select: none;
  border: none;
}

a.button-link:hover, button.button-link:hover, input.button-link:hover {
  background-color:	#115887;
}

form#login {
  margin: 1rem auto;
}

form#login div {
  position: relative;
}

form#login input {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0.25rem auto;
  padding: 0.25rem;
  height: 1.5rem;
  width: 256px;
}

#login button {
  text-align: center;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
}

#profile-footer a#create-new-snippet-button {
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
}

#profile-footer div {
  box-sizing: border-box;
  padding-top: 0.5rem;
  height: auto;
  margin: 0.5rem 0;
}

div#profile-footer {
  box-sizing: border-box;
  margin-top: 0.5rem;
  height: auto;
  padding: 0px;
  position: relative;
  width: auto;
  display: block;
  text-align: right;
}

form div.codesnippet {
  box-sizing: border-box;
}

form div.codesnippet div.codesnippet-header input {
  box-sizing: border-box;
  width: 100%;
  height: 1.75rem;
}

form div.codesnippet div.codesnippet-body textarea {
  box-sizing: border-box;
  width: 100%;
  height: 320px;
  resize: none;
  border: none;
  background-color: #d4d4d4;
  padding: 0.5rem;
}

form button.center-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#show-snippet-user-buttons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: max-content;
    padding: 0px;
    position: relative;
    margin-top: 8px;
}
