<header>
    <a class="navbar-brand" href="./">REAL TIME ISSUES</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="leftlist">
      <li class="nav-item">
        <a class="nav-link" href="./">Home</a>
      </li>
    </ul>
</header>