<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          {{error.status}}</h1>
        <h2>
          {{error.message}}</h2>
        <div class="error-details">
          <pre>
          {{error.stack}}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
